<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-4 ">

    @for (pokemon of pokemons; track $index) {

    <app-card-pokemon [pokemon]="pokemon"></app-card-pokemon>
    }


</div>
n
@if (pokemons.length!=1010) {
    <button (click)="nextPage()"
    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600  mt-8 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-lg px-8 py-3 mx-auto block mb-4">
    Cargar Más Pokémon
</button>
}